body{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    height: 95vh;
    max-width: min(95vw, 95vh);
    max-height: 95vw;
    background-color: rgb(168, 199, 109);
    position: relative;
    z-index: 0;
    display: flex;
    flex: 1;
    flex-wrap: wrap;

}

/*the width of the pixels is now calculated with a square root of the total amount.
it is then divided by the height or the width of the parent container,
whichever is smaller*/
.pixel {
    min-width: min(calc(95vw/sqrt(25)), calc(95vh/sqrt(25)));
    background-color: grey;
    border: 1px solid black;
    box-sizing: border-box;

}

.commit {
    position: absolute;
    z-index: 2;
    font-size: larger;
    font-weight: 700;
    color: white;
    text-align: center;
}