.content{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    height: 95vh;
    max-width: min(95vw, 95vh);
    max-height: 95vw;
    background-color: 'rgb(' + r() + "," + r() + "," + r() + ')';
    position: relative;
    z-index: 0;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    border: 1px solid black;
}

/**/
.pixel {
    min-width: min(calc(95vw/7), calc(95vh/7));
    background-color: grey;
    box-sizing: border-box;
    opacity: 10%;
}

.commit {
    position: absolute;
    z-index: 2;
    font-size: larger;
    font-weight: 700;
    color: white;
    text-align: center;
}

.interface{
    position:fixed;
    z-index: 2;
    border: 3px solid rgb(58, 58, 58);
    border-radius: 7px;
    display: flex;
}

.interface > *{
    font-size: large;
}

input {
    width: 75px;
    margin-right: ;
}